.form-container {
  width: 350px;
  margin: 38px auto;
}

.form-title {
  margin-bottom: 22px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(160, 160, 160);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-input {
  height: 32px;
}
