* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
