.task-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: center;
  justify-items: center;
  margin: 40px 0px;
}

.task {
  border: 1px solid rgb(160, 160, 160);
  border-radius: 4px;
  padding: 14px 0px;
  width: 248px;
  text-align: center;
}

.task-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 14px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgb(160, 160, 160);
  text-align: center;
}

.task-body {
  padding: 0px 12px;
}

.task-body p {
  margin-bottom: 14px;
}

.task-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.task-actions-btn {
  border: 1px solid black;
  border-radius: 4px;
  padding: 6px;
  color: black;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}
